POSTGRES_DB=db_formation
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me

RABBITMQ_DEFAULT_USER=change_me
RABBITMQ_DEFAULT_PASS=change_me

VAULT_DEV_ROOT_TOKEN_ID=change_me

KEYCLOAK_ADMIN=change_me
KEYCLOAK_ADMIN_PASSWORD=change_me
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/billing
